.album-detail {

  &--image {
    width: 100%;
  }

  &--info {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    line-height: 1rem;

    @media (max-width: 767px) {
      position: static;
      bottom: auto;
      margin-top: 2rem;
    }
  }

  .player-intro {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.8rem;
    color: #cc6000;
    padding-bottom: 0.5rem;
  }
}

/* DA PLAYER! */
.audioigniter-root {
  margin-bottom: 45px;

  .ai-wrap {
    margin-bottom: 0;
    background-color: $primary-transparent50;

    .ai-control-wrap-thumb,
    .ai-track-thumb {
      display: none;
    }

    .ai-control-wrap-controls {
      color: rgba(255, 255, 255, 0.5);

      .ai-audio-control {
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.5);
        color: $primary;
        outline: none;
        transition: all 0.2s ease-in-out;

        svg {
          fill: $primary;
          height: 25px;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          background-color: $orange;

          svg {
            fill: $white;
          }
        }
      }

      .ai-track-title {
        margin-bottom: 0;

        span {
          font-weight: bold;
          font-size: 20px
        }
      }

      .ai-audio-controls-progress {

        .ai-track-progress-bar {
          background-color: rgba(255, 255, 255, 0.2);

          .ai-track-progress {
            background-color: $orange;
          }
        }

        .ai-track-time {
          font-weight: bold;
        }
      }

      .ai-btn {
        background-color: rgba(255, 255, 255, 0.5);
        color: $primary;
        transition: all 0.2s ease-in-out;
        outline: none;

        @media (max-width:420px) {
          width: 20px;
          height: 20px;
        }

        svg {
          fill: $primary;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          background-color: $orange;

          svg {
            fill: $white;
          }
        }
      }

      .ai-audio-volume-bars {
        @media (max-width: 420px) {
          height: 20px;
        }
      }

      .ai-volume-bar {
        background-color: rgba(255, 255, 255, 0.5);

        &-active:before {
          background-color: $orange;
        }
      }
    }

    .ai-track {
      background-color: rgba(255, 255, 255, 0.5);
      color: $primary;

      &-active {
        background-color: $orange;
        color: $white;
      }
    }

    .ai-scroll-wrap > div:last-child {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0 !important;

      div {
        background-color: $orange !important;
      }
    }
  }
}

/* BACK link */
.back-to-discography--wrapper {
  text-align: center;
  margin-top: -1rem;
}

.back-to-discography:link,
.back-to-discography:visited,
.back-to-discography:hover,
.back-to-discography:active {
  color: $white;
  font-family: ihFontTitle;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.back-to-discography:hover {
  cursor: pointer;
  color: $orange;
}
