.discography-teaser{
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: calc(25% - 20px);

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  &--link {
    display:block;
    padding-bottom: 100%;
    background-size: cover;
    transform: scale(1.01);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.10);
      transition: transform 0.3s ease-in-out;

      .discography-teaser--data {
        bottom: 0;
      }
    }
  }

  &--data {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(50, 50, 50, 0.5);
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &--title {
    margin-bottom: 0;
    padding: 0 20px;
    font-family: ihFontTextBold;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1rem;
  }

  &--year {
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: ihFontText;
    font-size: 1rem;
    line-height: 1rem;
  }
}