.album-detail {

  &--image {
    width: 100%;
  }

  &--info {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.audioigniter-root {
  margin-bottom: 45px;

  .ai-type-full {
    margin-bottom: 0;
  }
}

.back-to-discography--wrapper {
  text-align: center;
  margin-top: -1rem;
}

.back-to-discography:link,
.back-to-discography:visited,
.back-to-discography:hover,
.back-to-discography:active {
  color: $white;
  font-family: ihFontTitle;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.back-to-discography:hover {
  cursor: pointer;
  color: $orange;
}
