.album-detail {

  &--image {
    width: 100%;
  }

  &--info {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
  }

  .entry-content {

    .all-tracks {

      .single-track {

        .fas {
          font-size: 1rem;
        }

        &--audio {
          flex: 0 0 260px;
          padding-top: 10px;
          text-align: right;

          .play, .pause, .volume-down, .volume-up {
            position: relative;
            top: 3px;
            cursor: pointer;
          }
        }

        &--progress input,
        &--volume input {
          width: 80px;
        }

        .volume-value {
          width: 80px;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
          background: #aaaaaa;
          height: 0.5em;
          display: inline-block;
          position: relative;
          top: 3px;

          &:before {
            content: '';
            height: inherit;
            width: 70%;
            background: $primary;
            display: block;
          }
        }

        &--rank {
          flex: 0 0 30px;
        }

        &--title {
          flex-grow: 1;
        }

        &--duration {
          flex: 0 0 60px;
        }
      }
    }
  }
}

/* slider fun */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 0px;
  background: $primary;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $primary;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $primary;
  cursor: pointer;
}