$blueish: #2e73ff;

.tester_class {
  font-size: 48px;
  font-weight: bol4d;
  font-family: "Arial";
  background-color: $blueish;
  color: lightgreen;
  padding: 25px;
  width: 80%;
  margin: 0 auto;
}