$blueish: #2e73ff;

.tester_class {
  font-size: 28px;
  font-weight: bold;
  font-family: "Arial";
  background-color: $blueish;
  color: lightgreen;
  padding: 15px;
  width: 80%;
  margin: 0 auto;
}