.home {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('img/inhere_home_hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.c-home {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 26, 0.75);
  background-image: linear-gradient(to bottom, rgba(37, 128, 195, 1), rgba(37, 128, 195, 0));
}

.c-home__content {
  background-image: url('img/inhere_home_gradient.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  width: 80vw;
  max-width: 600px;
  height: calc(80vw / 1.384);
  max-height: 433.5px;
  margin: 0 auto;
  position: relative;
  top: 40vh;
}