.home {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('img/inhere_home_hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.c-home {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 26, 0.75);
  background-image: linear-gradient(to bottom, rgba(37, 128, 195, 1), rgba(37, 128, 195, 0));
}

.c-home__content {
  z-index: 2;
  width: 80vw;
  max-width: 600px;
  height: calc(80vw / 1.384);
  max-height: 433.5px;
  margin: 0 auto;
  position: relative;
  top: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--logo {
    width: 75%;
  }

  &--buttons {
    display: flex;
    flex-direction: column;
    width: 75%;
  }

  &--btn1, &--btn2 {
    display: block;
    width: 100%;
    height: calc(100vw / 9);
    margin-top: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in;
  }

  &--btn1 {
    background-image: url('img/CTA_mobile_1_normal.png');

    &:hover {
      background-image: url('img/CTA_mobile_1_hover.png');
    }
  }

  &--btn2 {
    background-image: url('img/CTA_mobile_2_normal.png');

    &:hover {
      background-image: url('img/CTA_mobile_2_hover.png');
    }
  }

  @media(min-width: 640px) {
    &--buttons {
      flex-direction: row;
      width: 100%;
    }

    &--btn1, &--btn2 {
      height: calc(100vw / 9);
    }

    &--btn1 {
      background-image: url('img/CTA_desktop_1_normal.png');

      &:hover {
        background-image: url('img/CTA_desktop_1_hover.png');
      }
    }

    &--btn2 {
      background-image: url('img/CTA_desktop_2_normal.png');

      &:hover {
        background-image: url('img/CTA_desktop_2_hover.png');
      }
    }
  }
}

.c-home__content--logo {

}


