.c-nav--top {
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 50px;

    .menu-top-navigation-container {

        ul {
            display: flex;

            li {
                list-style: none;
                margin-left: 50px;

                a:link,
                a:visited,
                a:hover,
                a:active {
                    color: $white;
                    text-decoration: none;
                    font-family: ihFont;
                    font-size: 20px;
                    text-transform: uppercase;
               }
            }
        }
    }
}