// main.scss

// Settings
@import "../node_modules/iotacss-settings-core/settings.core";

// Tools
@import "../node_modules/iotacss-tools-core/tools.core";

// Base
@import "../node_modules/iotacss-base-initialize/base.initialize";

// Objects
@import "../node_modules/iotacss-objs-grid/objects.grid";

// Components
@import "../node_modules/iotacss-components-button/components.button";
@import "../node_modules/iotacss-components-modal/components.modal";

// Utilities
@import "../node_modules/iotacss-tools-core/utilities/cast-breakpoint";


// bestand moet nog uitgebreid worden met beschikbare add-ons, maar voor nu volstaat dit

// Custom
@import "partials/tester";