@font-face {
  font-family: ihFontBlack;
  src: url('font/ASHBBL_.ttf');
}

@font-face {
  font-family: ihFontMedium;
  src: url('font/Hallo_sans.otf');
}

p, a {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
