@font-face {
  font-family: ihFontBlack;
  src: url('font/ASHBBL_.ttf');
}

@font-face {
  font-family: ihFontMedium;
  src: url('font/ASHBM_.ttf');
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
