
/* TO BE DELETED */
@font-face {
  font-family: ihFontBlack;
  src: url('font/ASHBBL_.ttf');
}

@font-face {
  font-family: ihFontMedium;
  src: url('font/Hallo_sans.otf');
}
/* End of TO BE DELETED */


@font-face {
  font-family: ihFontTitle;
  src: url('font/RussoOne-Regular.ttf');
}

@font-face {
  font-family: ihFontText;
  src: url('font/Play-Regular.ttf');
}

@font-face {
  font-family: ihFontTextBold;
  src: url('font/Play-Bold.ttf');
}

p, a {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0;

  @media (max-width: 480px) {
    font-size: 1rem;
    line-height: 1.3;
  }
}

.track-listing {
  font-size: 1.6rem;
  line-height: 1.8;
}
