// colors
$white: #ffffff;
$black: #000000;

$offwhite: #ecffe3;
$darkblue: #004e84;
$orange: #cc6600;
$lightorange: #f8b019;

$primary:     $darkblue;
$secondary:   $orange;

$primary-transparent50: rgba(0, 78, 132, 0.5);

// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        6: ($spacer * 4),
                        7: ($spacer * 5),
                        8: ($spacer * 6),
                        10: ($spacer * 8),
                        12: ($spacer * 10)
                ),
                $spacers
);